@import "tailwindcss";

.input {
  @apply w-full px-4 py-3 rounded-2xl 
  border border-gray-200 
  bg-gray-50 
  text-gray-900
  placeholder-gray-400
  focus:bg-white 
  focus:border-indigo-400 
  focus:ring-0 
  transition;
}


